<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @user.password_digest %>
</p>

<p>
  <strong>SMS:</strong>
  <%= @user.sms %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
	<strong>Cars:</strong>
	<% current_user.cars.each do |car| %>
		<p>
			<span><%= car.year %> <%= car.color %> <%= car.make %> <%= car.model %></span>
			<% if car.nickname %>
				<span>, named '<%= car.nickname %>'</span>
			<% end %>
		</p>
	<% end %>
</p>

<%= link_to 'Edit Profile', edit_user_path(@user) %> | <%= link_to 'Edit Cars', user_cars_path(@user) %>
