<html>
	<head>
	  <title>Tow_the_Line</title>
	  <%= stylesheet_link_tag    'application', media: 'all' %>
	  <%= javascript_include_tag 'application' %>
	  <%= csrf_meta_tags %>
	</head>
<body>

		<p>Logged in: <%= link_to current_user.email, logout_path if logged_in? %></p>
		<%= yield %>
	  
	<% if logged_in? %>
	  <footer>
	  	<%= link_to 'New Car', new_user_car_path(current_user) %>
	  </footer>
	<% else %>
		<footer>
			<%= link_to 'Login', login_path %> / <%= link_to 'Sign Up', new_user_path %>
		</footer>
	<% end %>

</body>
</html>
